@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
    /* scroll-padding-top: 80px; */
    scroll-padding-inline-end: 80px;
}

#nav-head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    /* padding: 27px 100px; */
    z-index: 100000;
    background-color: #fff !important;
    -webkit-box-shadow: 0 4px 6px -6px #222;
}


#nav-head.sticky{
    padding: 5px 40px;
    background:#fff !important;
    -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    /* position: relative; */
    display: block;
    /* margin-right: auto; */
    margin-left: auto;
}

#nav-head .logo{
    position: relative;
    transition: 0.6s;
}

#nav-head  ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-head ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 600;
    list-style: none;
}

#nav-head.sticky ul li a{
    color: #000;
}

img.banner-image {
    margin-top: 144px;
}

/* nav{
    background: #4a4897;
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20%;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

li{
    text-decoration: none;
}

nav ul li a{
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
    padding: 7px 13px;
    border-radius: 10px;
}

a.active,a:hover{
    background: #fff;
    transition: .5s;
    color: black !important;
    text-decoration: none !important;
}
 */

 .mission-vision-sec{
    background-color: #4a4897 ;
}

.first-section {
    background-color: #fff;
}
.second-section {
    background-color: #fff;
}


.row.mission-row {
    padding: 60px 30px;
}
.first-section {
    margin-bottom: 40px;
    padding: 36px;
}

.second-section {
    padding: 36px;
}

h3.mission-title {
    text-align: center;
}

h3.vision-title {
    text-align: center;
}

img.mission-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

img.vision-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

.cash-prize-color{
    color: #ffbf00;
}

h2.text-center {
    font-weight: 700;
}

h2.h2-header-library {
    font-weight: 600;
    text-align: center;
    padding: 112px 0 0 0;
    font-size: 1.7em;
}

h2.h2-header-community {
    font-weight: 600;
    text-align: center;
    padding: 12px 0 0 0;
    font-size: 1.7em;
}
/* h2.h2-header {
    font-weight: 600;
    text-align: center;
    padding: 25px 0 0 0;
    font-size: 1.7em;
} */

h2.h2-header-contact {
    font-weight: 600;
    text-align: center;
    padding: 100px 0 0 0;
    font-size: 1.7em;
}

h2.video-header {
    color: #000;
    /* font-weight: 700; */
    font-weight: 600;
    text-align: center;
    /* padding: 0px 0 0 48px; */
    font-size: 1.7em;
}



h3.h3-header {
    text-align: center;
    /* padding: 0 50px; */
    font-size: 1.5em;
}

/* button.btn.btn-danger {
    display: block;
    margin-right: 20px;
    margin-left: auto;
    margin-right: auto;

} */

.contest-para {
    text-align: justify;
    padding: 20px;
}


button.btn.btn-danger {
   display: block;
   margin-left: auto;
   margin-right: auto;
   
   
}

img.banner-img {
    margin-top: 35px;
    width: 100%;
}

.video-poster{
    margin-top: 20px;
}


/* social media ***************** */

/* .social{
    position: fixed;
    top: 5%;
    left: 0%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-260px, 0);
}

.social a{
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none  !important;
    display: block;
    margin: 5px;
    padding: 10px;
    width: 300px;
    text-align: right;
    border-radius: 50px;
    transition: 1s;
    transition-property: transform;
}

.social a:hover{
    transform: translate(140px, 0);
    color: #fff;
}

.social i{
    margin-left: 10px;
    font-size: 30px;
    width: 30px;
    height: 30px;
}

.social a:nth-child(1) i{
    color: #1DA0F0;
}

.social a:nth-child(2) i{
    color: #F80000;
}

.social a:nth-child(3) i{
    color: #4ecce8;
}

.social a:nth-child(4) i{
    color: transparent;
    background-image: linear-gradient(45deg, #FFDF9E, #E56969, #8A49A1);
    -webkit-background-clip: text;
    font-weight: 600;
}

.social a:nth-child(5) i{
    color: #5865f2;
}

.social a:nth-child(6) i{
    color: #0a66c2;
} */



.container.sec-1 {
    background-color: #E8E8E8;
   
    
}


img.community-img {
    width: 100%;
    padding: 102px 0 0 0; 
}


iframe.youtube-video {
    width: 100%;
}

.col-sm-6 {
    margin-bottom: 20px;
}

img.contact-us {
    width: 100%;
}



img.footer-logo {
    width: 100%;
}

.container.sec-contact {
    background-color: #319dde;
}

.btn-primary {
    color: #fff;
    background-color: #f36a00 !important;
    border-color: #f36a00 !important;
}

.btn-danger {
    color: #fff;
    background-color: #f36a00 !important;
    border-color: #f36a00 !important;
}

ul.footer-icons-list {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #E8E8E8;
    display: grid;
    place-items: center;
}

img.footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 20px 0
}

li.footer-icon {
    display: inline-block;
    padding: 0 8px 0 0;
}

img.icon-size {
    width: 50px;
    /* margin-left: auto; */
}

ul.footer-icons-list {
    display: flex;
    justify-content: center;
}

p.copy {
    text-align: center;
    padding: 20px 0;
    color: grey;
}



.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}


a.nav-link.active {
    color: #f36a00 ;
    font-weight: 500;
    border-bottom: 4px solid #f36a00 ;
}


.wrapper .button{
    /* display: inline-block; */
    /* height: 60px;
    width: 60px;
    float: left;  
    margin: 0 5px;
    overflow: hidden;
    border-radius: 50px;
    background: #fff;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out; */
    height: 60px;
    width: 60px;
    overflow: hidden;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease-out;
    /* margin: 0 5px; */
}

.wrapper .button:hover{
    transform: translate(20px, 0);
    width: 200px;
}

.wrapper .button .icon{
    display: inline-block;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 60px;
}

.wrapper .button:nth-child(1):hover .icon {
    /* background: #1DA0F0; */
    color: transparent;
    background: #1DA0F0;
    -webkit-background-clip: text;
    font-weight: 600;
}

.wrapper .button:nth-child(2):hover .icon{
    
    color: transparent;
    background: #0a66c2;
    -webkit-background-clip: text;
    font-weight: 600;
}

.wrapper .button:nth-child(3):hover .icon{

    color: transparent;
    background: #5865f2;
    -webkit-background-clip: text;
    font-weight: 600;
}

.wrapper .button:nth-child(4):hover .icon{
    color: transparent;
    background-image: linear-gradient(45deg, #FFDF9E, #E56969, #8A49A1);
    -webkit-background-clip: text;
    font-weight: 600;
}

.wrapper .button:nth-child(5):hover .icon{

    color: transparent;
    background: #4ecce8;
    -webkit-background-clip: text;
    font-weight: 600;
    
}

.wrapper .button:nth-child(6):hover .icon{
   
    color: transparent;
    background: #F80000;
    -webkit-background-clip: text;
    font-weight: 600;
}


.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
}

.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}


.sec-video{
    position: relative;
    height: 680px;
}
.harmony-video {
    position: absolute;
    left: 0px;
    top: 260px;
    z-index: -1;
    -o-filter: blur(0.5px);
    filter: blur(0.5px);
    object-fit: cover;
    transform: scale(1.04);
}

.text {
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    text-align: justify;
}

.video-header {
    color: #000;
}

.video-para{
    color: #000;
}
/* .showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

button.btn.btn-danger.video-button {
    position: absolute;
    top: 80%;
    left:  132px;;
}

/* media *********************************************************** */
 @media screen and (min-width: 480px) {
    #nav-head{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        padding: 20px 100px;
        z-index: 100000;
        background-color: #E0E0E0 !important;
        /* background: linear-gradient(45deg, #fff, #F5F5F5, #E0E0E0); */
        -webkit-box-shadow: 0 4px 6px -6px #222;
    }
    
    
    #nav-head.sticky{
        /* padding: 5px 100px; */
        background:#fff !important;
        -webkit-box-shadow: 0 4px 6px -6px #222;
        -moz-box-shadow: 0 4px 6px -6px #222;
        box-shadow: 0 4px 6px -6px #222;
        
    }
    


    #nav-head.logo{
        position: relative;
        transition: 0.6s;
    }
    
    #nav-head  ul{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #nav-head ul li a{
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        color: #000;
        letter-spacing: 2px;
        font-weight: 600;
        list-style: none;
    }
    
    #nav-head.sticky ul li a{
        color: #000;
    }

    img.banner-image {
        margin-top: 140px;
    }

    .mission-vision-sec{
        background-color: #4a4897 ;
    }

    .first-section {
        background-color: #fff;
    }
    .second-section {
        background-color: #fff;
    }

    .cash-prize-color{
        color: #ffbf00;
    }
    .row.mission-row {
        padding: 60px 123px;
    }
    .first-section {
        padding: 36px;
    }

    .second-section {
        padding: 36px;
    }

    h3.mission-title {
        text-align: center;
    }

    h3.vision-title {
        text-align: center;
    }

    img.mission-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 120px;
    }

    img.vision-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 120px;
    }

    h2.h2-header-community {
        font-weight: 600;
        text-align: inherit;
        padding: 0px 0 0 48px;
        font-size: 1.7em;
    }

    h2.h2-header-contact {
        font-weight: 600;
        text-align: center;
        padding: 0 0 0 0;
        font-size: 1.7em;
    }
    h2.text-center {
        margin-bottom: 40px;
        font-weight: 700;
    }
    
    .h2-header{
        font-weight: 700;
    }

    img.banner-img {
        width: 100%;
        padding-right: 30px;
        margin-top: 10px;
    }

    h2.video-header {
        color: #fff !important;
        /* font-weight: 700; */
        font-weight: 600 !important;
        text-align: left !important;
        /* padding: 0px 0 0 48px; */
        font-size: 1.7em !important;
    }


    .container.sec-1 {
        background-color: #E8E8E8;
        padding: 50px 20px;
    }

    .contest-para {
        text-align: left;
        padding: 10px 50px;
    }

    button.btn.btn-danger {
        display: block;
       
        float: left;
        position: relative;
        left: 50px;
    }

    h2.h2-header-library {
        font-weight: 700;
        text-align: left;
        padding: 0 50px;
        font-size: 2em;
    }
/* 
    h2.h2-header {
        font-weight: 700;
        text-align: left;
        padding: 0 50px;
        font-size: 2em;
    } */

    h3.h3-header {
        text-align: left;
        padding: 0 50px;
        font-size: 1.7em;
    }

    /* sec 2 */

    .container.sec-2 {
        padding: 50px 20px;
    }

    img.community-img {
        width: 100%;
        padding: 0 0 0 40px;
    }
    img.contact-us {
        width: 100%;
    }

    iframe.youtube-video {
        width: 100%;
        height: 315px;
        padding-right: 30px;
    }

    form {
        width: 350px;
    }

    .container.sec-contact {
        padding: 50px 20px;
        background-color: #319dde;
    }

    .d-md-flex.align-items-center.h-100.p-5.text-center.justify-content-center {
        padding: 0 !important;
    }

    .logoarea.pt-5.pb-5 {
        padding-top: 0.5em !important;
    }

    .container.footer-container {
        padding: 50px 20px;
        background-color: #E8E8E8;
    }

    img.footer-logo {
        width: 250px !important;
    }
    .footer {
        background-color: #E8E8E8;
        display: grid;
        place-items: center;
    }


    .btn-primary {
        color: #fff;
        background-color: #f36a00 !important;
        border-color: #f36a00 !important;
    }
    
    .btn-danger {
        color: #fff;
        background-color: #f36a00 !important;
        border-color: #f36a00 !important;
    }

    ul.footer-icons-list {
        display: flex;
        justify-content: center;
    }

    .footer {
        background-color: #E8E8E8;
    }

    img.footer-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        padding: 30px 0 30px 0;
    }

    li.footer-icon {
        display: inline-block;
        padding: 0 8px 0 0;
    }

    img.icon-size {
        width: 60px;
        /* margin-left: auto; */
    }

    ul.footer-icons-list {
        display: flex;
        justify-content: center;
    }

    p.copy {
        text-align: center;
        padding: 20px 0;
        color: grey;
    }

    a.nav-link.active {
        color: #f36a00 ;
        font-weight: 500;
        border-bottom: 4px solid #f36a00 ;
    }

    
    .wrapper .button{
        display: inline-block;
        height: 60px;
        width: 60px;
        float: left;
        margin: 0 5px;
        overflow: hidden;
        border-radius: 50px;
        background: #fff;
        cursor: pointer;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-out;
        
        
    }

    .wrapper .button:hover{
        transform: translate(5px, 0);
        width: 200px;
    }

    .wrapper .button .icon{
        display: inline-block;
        text-align: center;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        box-sizing: border-box;
        line-height: 60px;
    }

    .wrapper .button:nth-child(1):hover .icon a{
        /* background: #1DA0F0; */
        color: transparent;
        background: #1DA0F0;
        -webkit-background-clip: text;
        font-weight: 600;
    }

    .wrapper .button:nth-child(2):hover .icon a{
        
        color: transparent;
        background: #0a66c2;
        -webkit-background-clip: text;
        font-weight: 600;
    }

    .wrapper .button:nth-child(3):hover .icon a{
    
        color: transparent;
        background: #5865f2;
        -webkit-background-clip: text;
        font-weight: 600;
    }

    .wrapper .button:nth-child(4):hover .icon a{
        color: transparent;
        background-image: linear-gradient(45deg, #FFDF9E, #E56969, #8A49A1);
        -webkit-background-clip: text;
        font-weight: 600;
    }

    .wrapper .button:nth-child(5):hover .icon a{
    
        color: transparent;
        background: #4ecce8;
        -webkit-background-clip: text;
        font-weight: 600;
        
    }

    .wrapper .button:nth-child(6):hover .icon a{
       
        color: transparent;
        background: #F80000;
        -webkit-background-clip: text;
        font-weight: 600;
    }


    .wrapper .button .icon i{
        font-size: 25px;
        line-height: 60px;
    }

    .wrapper .button span{
        font-size: 20px;
        font-weight: 500;
        line-height: 60px;
        margin-left: 10px;
    }

    a {
        color: black;
    }

    .sec-video{
        position: relative;
        height: 680px;
    }
    .harmony-video{
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
        /* width: inherit;
        height: inherit; */
        /* -o-filter: blur(2px);
        filter: blur(2px);
        object-fit: cover;
        transform: scale(1.04); */
    }

    .text{
        position: absolute;
        left: 0;
        top: 30%;
        padding: 0 50% 0 60px;
        text-shadow: 2px 2px #000;

    }

    .video-header{
        color: #fff;
        font-weight: 700;

    }

    .video-para{
        color: #fff;
    }
    /* .showcase{
        position: absolute;
        right: 0;
        width: 100%;
        min-height: 100vh;
        padding:100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } */

    button.btn.btn-danger.video-button {
        position: absolute;
        top: 60% !important;
        left: 60px !important;
    }
  }


  
