<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>OSI</title>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" id="nav-head">
        <a class="navbar-brand" href="#"><img src="./img/Logo.png" alt="" width="60%" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav ml-auto my-2 my-lg-0 navbar-nav-scroll">
            <li class="nav-item active">
              <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contest">Contest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#community">About Community</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact Us</a>
            </li>
          </ul>
        
        </div>
    </nav>

      <!--  second section ********************************************** -->
      <div class="container-fluid" id="home">
        <section class="banner">
          <img src="./img/top-banner_5.jpg" alt="" width="100%" class="banner-image">
        </section>
  
      </div>

      
      <!-- Our mission and vison starts here ******************************************************************* -->
      <!-- contest section starts here ****************************************************************** -->

      <div class="container sec-1" id="contest">
          <div class="row">
              <div class="col-sm-6">
                <h2 class="h2-header-library">HarmonyOS Library</h2>
                <h3 class="h3-header">Development Contest</h3>
                <div class="contest-para">
                    <p>Are you an Open source contributor with knowledge of best practices and experience working with libraries and this is the right opportunity to win prizes upto 50k , from the Application Library Engineering group to register contact us. </p>
                    <p>Win prizes upto for each successful library development.</p>
                </div> 
                <a href="https://applibgroup.github.io/terms-conditions.html" target="_blank"><button class="btn btn-danger">Contact Us</button>   </a>
              </div>
              <div class="col-sm-6">
                 <img src="./img/Contest-updated.png" alt=""  class="banner-img slideanim">
              </div>
          </div>
      </div>



      <!-- comunity ************************************************************************************************** -->

      <div class="container sec-2" id="community">
        <div class="row">
            <div class="col-sm-6">
              <img src="./img/Community.jpg" alt=""  class="community-img slideanim">
            </div>
            <div class="col-sm-6">
              <h2 class="h2-header-community">About Our Community</h2>
              <div class="contest-para">
                  <p>Application Library Engineering group is an open platform where developers of software application, libraries and components can come together and interact with an intent to learn, collaborate and contribute towards a fast-paced and enriched application development ecosystem for connected consumer devices.</p>
              </div> 
              <a href=" https://github.com/applibgroup/applibgroup/wiki" target="_blank"><button class="btn btn-danger">READ MORE</button></a>
            </div>
        </div>
    </div>


      <!-- All as One *********************************************************************************** -->

     <div class="container sec-video">
        <div class="showcase">
          <div class="overlay"></div>

          <div class="text">
            <h2 class="video-header">One As All, All As One</h2>
            <p class="video-para">HarmonyOs is a next-gen operating system that can run on a wide range of smart devices. It enables different smart devices to speak the same language, facilitating better connection and collabration, and bringing a simple, smooth, continuous, secure and reliable interaction experience in all senarios.</p>
          </div>
          <a href="https://consumer.huawei.com/en/harmonyos/" target="_blank"><button class="btn btn-danger video-button">READ MORE</button></a>   
          <video src="./img/HarmonyOS-Overview.mp4" width="100%" class="harmony-video" muted loop autoplay></video>
          <!-- <iframe class="youtube-video harmony-video slideanim" src="https://www.youtube.com/embed/zx-45PxtU-Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          <span class="yt-video"><a href="https://youtu.be/zx-45PxtU-Y" target="_blank"><i class="fab fa-youtube" id="yt-video"></i></a></span>
        </div>
     </div>


      <div class="container sec-contact" id="contact">
        <div class="row">
           <div class="col-sm-6">
             <h2 class="h2-header-contact">Contact Us</h2>
             <div class="contest-para" id="contact-sec">
              <p>Are you interested to know more about HarmonyOS or be a part of this community don’t know where to start then this is the right place to get your questions answered ….?</p>
             </div>
             <img src="./img/contact-us.png" alt="" class="contact-us slideanim">
           </div>
           <div class="col-md-6 p-0  h-md-100 contactusArea">
            <div class="d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
                <!-- <div class="logoarea pt-5 pb-5">
                    <form name="contact-form" role="form" ng-submit="submit_form()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder=" Name" id="name" ng-model="user.name" required>
                          </div>
                        <div class="form-group">
                          <input type="email" class="form-control" placeholder=" Email" id="email" ng-model="user.email" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder=" Phone number" id="phone" ng-model="user.phone" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Company/Institute" id="company" ng-model="user.company" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Country" id="country" ng-model="user.country" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Job Title" id="job" ng-model="user.job" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="comment" placeholder="Message" ng-model="user.message" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        
                    </form>
                    
                </div> -->
                <iframe frameborder="0" style="height:500px;width:99%;border:none;" src='https://forms.zohopublic.in/info461/form/ContactUs/formperma/4cXClkfKx8gNT1gzL-BJnuaE-64TlN6AUh2_FkdtG8w'></iframe>

            </div>
            </div>
        </div>
      </div>

      <div class="footer">
        <div class="footer-image">
          <img src="./img/Logo.png" alt="footer-logo" class="footer-logo" >
        </div>

     
        <div class="wrapper">
          <div class="button">
            <div class="icon">
              <a href="https://www.facebook.com/Application-Libarary-Engineering-Group-101182928663338" target="_blank"><i class="fab fa-facebook"></i></a>
            </div>
            <a href="https://www.facebook.com/Application-Libarary-Engineering-Group-101182928663338" target="_blank"><span>Facebook</span></a>
          </div>
          <div class="button">
            <div class="icon">
              <a href="https://www.linkedin.com/in/applibgroup/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
            <a href="https://www.linkedin.com/in/applibgroup/" target="_blank"><span>Linkedin</span></a>
          </div>
          <div class="button">
            <div class="icon">
              <a href="https://discord.gg/2fpxnwvSeF" target="_blank"><i class="fab fa-discord"></i></a>
            </div>
            <a href="https://discord.gg/2fpxnwvSeF" target="_blank"><span>Discord</span></a>
          </div>
          <div class="button">
            <div class="icon">
              <a href="https://www.instagram.com/applibgroup/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          <a href="https://www.instagram.com/applibgroup/" target="_blank"><span>Instagram</span></a>
          </div>
          <div class="button">
            <div class="icon">
              <a href="https://twitter.com/applibgroup" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
            <a href="https://twitter.com/applibgroup" target="_blank"><span>Twitter</span></a>
          </div>
          <div class="button">
            <div class="icon">
              <a href="https://www.youtube.com/applibengineeringgroup" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
            <a href="https://www.youtube.com/applibengineeringgroup" target="_blank"><span>Youtube</span></a>
          </div>
        </div>
        <div class="copyright">
         <p class="copy">&copy; 2021 Application Library Engineering Group</p>
        </div>
      </div>
      <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
      
      <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-analytics.js"></script>
      
      <script>

          // Your web app's Firebase configuration
          // For Firebase JS SDK v7.20.0 and later, measurementId is optional
          const firebaseConfig = {
            apiKey: "AIzaSyB3Lq2ZUw7Gk8x2YDhdFlnDsHJ_zguP1BQ",
            authDomain: "osi-webpage.firebaseapp.com",
            databaseURL: "https://osi-webpage-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "osi-webpage",
            storageBucket: "osi-webpage.appspot.com",
            messagingSenderId: "399263672110",
            appId: "1:399263672110:web:60c54d694a8b2112667cbf",
            measurementId: "G-H5L8XHW94M"
          };

          // Initialize Firebase
          firebase.initializeApp(firebaseConfig);
          firebase.analytics();



        window.addEventListener('scroll', function(){
            let header = document.getElementById("nav-head");
            header.classList.toggle("sticky", window.scrollY > 0);
        });

        $(window).scroll(function() {
        $(".slideanim").each(function(){
          var pos = $(this).offset().top;

          var winTop = $(window).scrollTop();
          if (pos < winTop + 600) {
            $(this).addClass("slide");
          }
          });
        });


        window.onload = function(){
        $('.navbar-nav .nav-link').removeClass('active');
        $('.navbar-brand').click(function(){
          $('.navbar-nav .nav-link').removeClass('active');
        })
      }
       $('.navbar-nav .nav-link').click(function(){
        $('.navbar-nav .nav-link').removeClass('active');
        $(this).addClass('active');
       })
    </script>
</body>
</html>
