<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>OSI</title>
</head>
<body>
    <!-- <nav>
        <input type="checkbox" id="check">
        <label for="logo" class="logo"><img src="./img/Logo.png" alt="" width="80%"></label>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">Contest</a></li>
            <li><a href="#">About Community</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav> -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" id="nav-head">
        <a class="navbar-brand" href="#"><img src="./img/Logo.png" alt="" width="70%" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav ml-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Community</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <!-- <form class="d-flex">
            <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
    </nav>

      <!--  second section ********************************************** -->
      <div class="container">
        <section class="banner">
          <img src="./img/vision-mission.jpg" alt="" width="100%" class="banner-image">
        </section>
  
      </div>

      <div class="social">
        <a href="#">Facebook<i class="fab fa-facebook"></i></a>
        <a href="#">Youtube<i class="fab fa-youtube"></i></a>
        <a href="#">Twitter<i class="fab fa-twitter"></i></a>
        <a href="#">Instagram<i class="fab fa-instagram"></i></a>
        <a href="#">Discord<i class="fab fa-discord"></i></a>
        <a href="#">Linkedin<i class="fab fa-linkedin"></i></a>
    </div>
      
      <!-- Our mission and vison starts here ******************************************************************* -->
      <!-- contest section starts here ****************************************************************** -->

      <div class="container sec-1">
          <div class="row">
              <div class="col-sm-6">
                <h2 class="h2-header">HarmonyOS Library</h2>
                <h3 class="h3-header">Development Contest</h3>
                <div class="contest-para">
                    <p>Call for emerging developers to develop aplication libraries for HarmonyOS and get excited <span class="cash-prize-color">cash prizes/gifts</span> from the Application Library Engineering group </p>
                    <p>Win prizes upto for each successful library development</p>
                </div> 
                <button class="btn btn-danger">Contact Us</button>   
              </div>
              <div class="col-sm-6">
                 <img src="./img/Library-contest.png" alt=""  class="banner-img">
              </div>
          </div>
      </div>



      <!-- comunity ************************************************************************************************** -->

      <div class="container sec-2">
        <div class="row">
            <div class="col-sm-6">
              <img src="./img/Community.png" alt=""  class="community-img">
            </div>
            <div class="col-sm-6">
              <h2 class="h2-header">About Our Community</h2>
              <div class="contest-para">
                  <p>Application Library Engineering group is an open platform where developers of software application, libraries and components can come together and interact with an intent to learn, collaborate and contribute towards a fast-paced and enriched application development ecosystem for connected consumer devices.</p>
              </div> 
              <button class="btn btn-danger">READ MORE</button>   
            </div>
        </div>
    </div>


      <!-- All as One *********************************************************************************** -->




      <div class="container sec-1">
        <div class="row">
            <div class="col-sm-6">
              <h2 class="h2-header">One As All, All As One</h2>
              <div class="contest-para">
                <p>HarmonyOs is a next-gen operating system that can run on a wide range of smart devices. It enables different smart devices to speak the same language, facilitating better connection and collabration, and bringing a simple, smooth, continuous, secure and reliable interaction experience in all senarios.</p>
              </div> 
              <button class="btn btn-danger">READ MORE</button>   
            </div>
            <div class="col-sm-6">
              <iframe class="youtube-video" src="https://www.youtube.com/embed/zx-45PxtU-Y?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </iframe>
            </div>
        </div>
      </div>

<!-- 
      <div class="container" style="margin-top: 50px;">
          <div class="row">
              <div class="col-sm-5">
                <h2 class="h2-header">One As All, All As One</h2>
                <div class="contest-para" style="text-align: center;">
                    <p>HarmonyOs is a next-gen operating system that can run on a wide range of smart devices. It enables different smart devices to speak the same language, facilitating better connection and collabration, and bringing a simple, smooth, continuous, secure and reliable interaction experience in all senarios.</p>
                </div> 
                <button class="btn btn-danger">READ MORE</button>   
              </div>
              <div class="col-sm-7">
                
                <iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/zx-45PxtU-Y?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </iframe>
              </div>
          </div>
      </div> -->

      <div class="container sec-contact">
        <div class="row">
           <div class="col-sm-6">
             <h2 class="h2-header">Contact Us</h2>
             <div class="contest-para">
              <p>Feel free to contact us anytime.we will get back to you soon as we can!</p>
             </div>
             <img src="./img/contact-us.png" alt="" class="contact-us">
           </div>
           <div class="col-md-6 p-0  h-md-100 contactusArea">
            <div class="d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
                <div class="logoarea pt-5 pb-5">
                    <!-- <h1 class="aboutus">Contact <span class="blueColor">Us</span></h1> -->
                    <!-- <p class="aboutusPara">Feel free to contact us anytime.dfdf</p> -->
                    <form name="contact-form" role="form" ng-submit="submit_form()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder=" Name" id="name" ng-model="user.name" required>
                          </div>
                        <div class="form-group">
                          <input type="email" class="form-control" placeholder=" Email" id="email" ng-model="user.email" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder=" Phone number" id="phone" ng-model="user.phone" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Company/Institute" id="company" ng-model="user.company" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Country" id="country" ng-model="user.country" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Job Title" id="job" ng-model="user.job" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="comment" placeholder="Message" ng-model="user.message" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        
                    </form>
                    <!-- <div class="alert alert-success" >
                        <strong>Success!</strong> Thank you for registering with us.
                      </div> -->
                </div>
            </div>
        </div>
        </div>
      </div>

      <div class="container footer-container">
        <div class="row">
          <div class="footer">
            <img src="./img/Logo.png" alt="" class="footer-logo">
            <div class="footer-fab">
              <!-- <i class="fab fa-github"></i>
              <i class="fab fa-meetup"></i> -->
            </div>
            <!-- <ul class="footer-list">
              <li><a href="#">Home</a></li>
              <li><a href="#">Contest</a></li>
              <li><a href="#">About Community</a></li>
              <li><a href="#">Contact</a></li>
            </ul> -->
          </div>
        </div>
      </div>

      <script>
        window.addEventListener('scroll', function(){
            let header = document.getElementById("nav-head");
            header.classList.toggle("sticky", window.scrollY > 0);
        })
    </script>
</body>
</html>
